<div class="text-layout">
<p-card>
  <ng-template pTemplate="header">
    <h1>
      ¿Quien soy?
    </h1>
    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h3>
  </ng-template>
  <p-image src="assets/showcase/images/galerie/yo-en-jpg.jpg" alt="Image" width="250"></p-image>
  <h1>
    Rainiero Fresno Duval
  </h1>
  <div class="subheading mb-5">
    <ul>
      <p><a class="pi pi-envelope">   rainiero.fresno-duval@capgemini.com</a></p>
      <p><a class="pi-directions-alt">   Placido Jove Hevia</a></p>
      <p><a class="pi pi-directions-alt">   Charlie Town</a></p>
      <p><a class="pi pi-phone">   647 58 49 03</a></p>
      <p><a class="pi pi-qrcode">   33300</a></p>
      <p class="pi pi-tags">   Junior software developer</p>
      <div class="social-icons">
        <p class="pi pi-linkedin" target="_blank" href="https://www.linkedin.com/in/rainierofresnoduval-57b566b0/"></p>
        <p class="pi pi-github" target="_blank" href="https://github.com/bollbich"></p>
        <p class="pi pi-twitter" target="_blank" href="https://twitter.com/?lang=es"></p>
        <p class="pi pi-facebook" target="_blank" href="https://es-es.facebook.com/"></p>
    </div>
    </ul>
</div>
</p-card>
</div>

<div class="text-layout">
<p-card>
  <ng-template pTemplate="header">
    <h2>Educacion</h2>
  </ng-template>
  <h3 class="mb-0">Universidad de Colorado Boulder</h3>
                  <div class="subheading mb-3">Bachillerato de ciencias</div>
                  <div>Ciencias del comer</div>
                  <p>GPA: 3.23</p>
              <div class="flex-shrink-0"><span class="text-primary">Agosto 1775 - May 1776</span></div>
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card>
</div>

<div class="text-layout">
<p-card>
  <ng-template pTemplate="header">
    <h2>Intereses</h2>
  </ng-template>
  <p>Aparte de ser un desarrollador de software, disfruto mucho de los paseos por el monte.</p>
          <p class="mb-0">En el tiempo que estoy en casa me gusta dedicar mi tiempo a los videojuegos.</p>
</p-card>
</div>

