<p-card header="Datos principales">
  <div class="text-layout">
    <h5>¡¡Deja tus datos de contacto!!</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Nombre</label>
            <input id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Apellidos</label>
            <input id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
          <label for="phoneNumber6">Telefono</label>
          <input id="phoneNumber6" type="number" class="inputfield w-full">
      </div>
      <div class="field col-12 md:col-6">
        <label for="address">Dirección</label>
        <input id="address" type="text" class="inputfield w-full">
    </div>
        <div class="field col-12">
            <label for="message">Mensaje</label>
            <textarea id="message" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">Ciudad</label>
            <input id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">Estado</label>
            <select id="state" class="w-full inputfield" style="appearance: auto">
              <option>Madrid</option>
              <option>Arizona</option>
                <option>California</option>
                <option>Logroño</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
                <option>Oviedo</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Código postal</label>
            <input id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
  </div>
  <p-button label="Enviar"></p-button>
</p-card>
