<div class="text-layout">
  <p-card>
    <ng-template pTemplate="header">
      <h2>Experiencia</h2>
    </ng-template>
    <h3 class="mb-0">Junior software Developer</h3>
                    <div class="subheading mb-3">Charlie Soft</div>
                    <p>Desarrollo de de aplicaciones de control mental</p>
                <div class="flex-shrink-0"><span class="text-primary">March 1875 - Present</span></div>
  </p-card>
  </div>
<div class="text-layout">
  <p-card>
    <ng-template pTemplate="header">
      <h2>Skills</h2>
    </ng-template>
    <div class="subheading mb-3">Lenguajes de programacion y herramientas</div>
            <ul class="list-inline dev-icons">
              <li><i class="pi pi-android"></i></li>
              <li><i class="pi pi-github"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
  </p-card>
  </div>

  <div class="text-layout">
    <p-card>
      <ng-template pTemplate="header">
        <h2>¿Que servicios puedo ofrecer?</h2>
      </ng-template>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </p-card>
    </div>
